.wrap {
    width: 1600px;
    margin: 0 auto;
}

.relative {
    position: relative;
}

.side_nav {
    width: 10%;
    height: 100%;
    margin-top: 6%;
    position: fixed;
}

.snb {
    width: 100%;
    height: 100%;
    font-family: SC_b;
    color: rgba(0,0,0,0.4);
    font-size: 25px;
    position: absolute;
    top: 0;
}

.snb li {
    transform: rotate(-90deg);
    text-align: center;
    margin: 140px 0;
    cursor: pointer;
}

.active {
    color: #333 !important;
    font-family: SC_bl;
}

.slide {
    height: 100%;
    position: relative;
}

.slide_text {
    position: absolute;
    top:40%;
    left: 8%;
    width: 35%;
    height: 30%;
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
}

.slide_title {
    position: absolute;
    top: -20px;
    font-size: 28px;
    font-family: SC_b;
}

.slide_title p {
    display: inline-block;
}
.point {
    position: relative;
    z-index: 0;
    color: #ffff00;
    float: left;
    margin-right: 20px;
}
.point:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ff0000;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.desc {
    position: absolute;
    top: 50%;
    left:10%;
    transform: translateY(-50%);
    font-family: SC_r;
    font-size: 16px;
}

.form {
    font-size: 18px;
    padding: 20px;
    font-family: SC_m;
}

.form span {
    display: block;
    margin-bottom: 20px;
}

.form input {
    background: none;
    border: none;
    border-bottom: 1px solid #333;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
}

.form input[name="name"], .form input[name="tel"] {
    width: 40%;
}

.form input[name="ask"] {
    width: 40%;
    height: 40%;
    border: 1px solid #333;
    border-radius: 10px;
}

.form button {
    width: 40%;
    height: 10%;
    border-radius: 10px;
    background: none;
    font-family: SC_m;
    border: 1px solid #333;
    font-size: 18px;
}

.form button:before {
    content: "";
    display: block;
    background-attachment: ;
}

.zIndex {
    display: block !important;
    z-index: 99999 !important;
}
